@{
    ViewData["Title"] = "ChangeDefaultPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/Slidebar.css" rel="stylesheet" />
</head>

<body style="background-color:#F0FFFF">
    <div class="container">
        <div class="row justify-content-center" style="margin-top:15%;">
            <div class="col-sm-6">
                <div class="alert alert-warning d-none" id="msg" style="text-align:center;"></div>
                <div class="card">
                    <div class="card-header" style="text-align: center; color: black; background-color: #F5FFFA; ">
                        Change Default Password
                    </div>
                    <div class="card-body">
                        <form class="needs-novalidate-update" novalidate>
                            <div class="form-row">
                                <div class="col-sm-12">
                                    <div class="input-group mt-3">
                                        <button class="btn btn-outline-secondary" disabled type="button" id="button-addon1"><i class="fa fa-key"></i></button>
                                        <input type="password" class="form-control" id="idNewPassword" placeholder="NewPassword" required>
                                        <div class="invalid-feedback">
                                            Please input new password !
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-12">
                                    <div class="input-group mt-3">
                                        <button class="btn btn-outline-secondary" disabled type="button" id="button-addon1"><i class="fa fa-key"></i></button>
                                        <input type="password" class="form-control" id="idConfirmPass" placeholder="Confirm Password" required>
                                        <div class="invalid-feedback">
                                            Please input confirm password !
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

    var form = document.getElementsByClassName('needs-novalidate-update');
    var Validation = Array.prototype.filter.call(form, function (forms) {
        forms.addEventListener('submit', function (event) {
            if (forms.checkValidity() === false) {
                event.preventDefault();
            } else {
                event.preventDefault();
                if ($('#idNewPassword').val() == $('#idConfirmPass').val()) {
                    $.ajax({
                        url: '@Url.Action("ChangeDefaultPass", "ChangeDefaultPassword")',
                        type: 'GET',
                        dataType: 'JSON',
                        data: { NewPass: $('#idNewPassword').val() },
                        success: function (data) {
                            if (data.errCode == 0) {
                                window.location.replace('@Url.Action("Index","Login")')
                            } else {
                                $('#msg').removeClass('d-none')
                                $('#msg').text(data.errMsg)
                                setTimeout(function () {
                                    $('#msg').addClass('d-none')
                                }, 5000)
                            }
                        }
                    })
                } else {
                    $('#msg').removeClass('d-none')
                    $('#msg').text("New Password and ConfirmPassword incorrect")
                    setTimeout(function () {
                        $('#msg').addClass('d-none')
                    }, 5000)
                }
            }
            forms.classList.add('was-validated');
        }, false)
    });

</script>


